.title {
    color: white;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    font-style: oblique;
}

.project-dashboard {
    background-color: #333B41;
    padding: 1.5rem 2rem 3rem 2rem;
    border: none;
    border-top: 2px solid rgba(195, 31, 39, 0.6);
    width: 100%;
    max-width: 100rem;
    margin: 3rem auto;
    border-radius: 8px;
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.25),
        inset 0 1px 0 rgba(255, 255, 255, 0.05);
    animation: fadeIn 1s linear;
}

.project-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2.5rem;
    margin-top: 2rem;
}

.project-card {
    background-color: #3B444B;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    border: 1px solid #333B41;
    border-top: 2px solid #C31F27;
    cursor: pointer;
    display: grid;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.45);
    border-bottom-color: #C31F27;
}

.project-card-header {
    padding: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    min-height: 110px;
    /* adjust once, never touch again */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin: 0;
}

.project-card-subtitle {
    color: #7A8EA1 ;
    letter-spacing: 0.01em;
    font-style: italic;
    margin-top: 0.25rem;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.project-card-body {
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    gap: 1rem;
}

.project-card-body p {
    margin: 0;
    max-width: 42ch;
}

.proj-buttons {
    display: block;
    width: 70%;
    margin: 1rem auto 0 auto;
    background-color: #c31f27de;
    color: white;
    font-style: italic;
    font-weight: 600;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: auto;
}

.proj-buttons:hover {
    background-color: #c31f27a5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}